<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085500014828-crm9rmuunh2logoold2bh0st4cc46u2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085500014828-crm9rmuunh2logoold2bh0st4cc46u2s</string>
	<key>API_KEY</key>
	<string>AIzaSyAtuV0Mtn5H3zFrcsoz8mAZoPbM6n_VmCM</string>
	<key>GCM_SENDER_ID</key>
	<string>1085500014828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ClownTeam.MarketplaceApp</string>
	<key>PROJECT_ID</key>
	<string>marketplace-d8147</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-d8147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085500014828:ios:a429b132a66123e28ea5c9</string>
</dict>
</plist>